@media only screen and (min-width: 768px) and (max-width: 1190px) {

    *{box-sizing: border-box;}


    .font-size-title {
        font-size: 24px;
    }
    
    .font-size-emp {
        font-size: 16px;
    }

    .font-size-small {
        font-size: 14px;
        letter-spacing: 0;
    }

    .font-size-xs {
        font-size: 12px;
    }

    .header-contents {
        width: 98%;
        letter-spacing: 0;
    }


    .back-1 {
        height: 500px;
    }


    .slider-btn {
        width: 85%;
    }

    .text-2a {
        font-size: 16px;
        font-weight: 500;
    }


    .skills {
        width: 94%;
    }


    .steps-5 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .step-box {
        width: 36%;
    }


    .merits-8 {
        width: 87%;
    }

    .merit {
        margin: 20px;
        width: 32%;
    }
    
    .merit img {
        height: 180px;
    }

    .support-box {
        width: 87%;
    }

    .thirdparties {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .party-11 {
        margin: 40px 0 ;
        width: 768px; 
    }


    .study-box {
        width: 270px;
    }

    .study-box ul li {
        padding: 10px 5px;

    }

    .flow-intro {
        width: 90%;
        padding: 0 35px;
    }
    

    .text-15 {
        margin-left: 80px;
    }

    .present-line {
        width: 95%;
    }

    .present-setter-16 {
        padding: 0 30px ;
    }
    
    .someya-speach {
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        margin: 40px auto;
        width: 90%;
    }

    .form-19 {
        width: 70%;
    }

    .form-19 input {
        padding: 25px;
    }

    .submit-btn-19 {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 30%;
        border-radius: 50px;
        border: none;
        margin: 40px 0 60px 0;
    }
    
    .base-20 {
        padding: 40px 5.5%;
    }

}

@media only screen and (max-width: 1000px) {

    .present-title {
        width: 40%;
    }

    .present-line {
        width: 60%;
    }

    .present-icons {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    .present-setter-16 {
        padding: 50px ;
    }
}


@media screen and (max-width: 768px) {

    *{box-sizing: border-box;}


    .font-size-title {
        font-size: 18px;
    }
    
    .font-size-emp {
        font-size: 15px;
    }

    .font-size-small {
        font-size: 12px;
        letter-spacing: 0;
    }

    .font-size-xs {
        font-size: 12px;
        letter-spacing: 0;
    }




    #scroll-btn {
        bottom: 20px;
        right: 15px;
        height: 50px;
        width: 45px;
        line-height: 0px;
    }

    #scroll-btn p {
        margin: 14px 0 0;
    }

    .fa-angle-up {
        font-size: 22px;
    }



    .header-base {
        height: 62px;
    }

    header {
        position: fixed;
        z-index: 10;
        margin-top: -10px;
    }
    
    .header-contents {
        margin: 0 auto ;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .header-text {
        margin-left: 4px;
        font-size: 10px;
        font-weight: 400;
    }

    .header-text p {
        margin: 0%;
        letter-spacing: 0;
    }
    
    .left-side {
        display:flex;
        flex-direction: column-reverse;
        margin-left: 8px;
    }
    
    .header-logo img {
        width: 88px;
    }
    
    .contact-btn {
        display: none;
    }

    .right-side {
        height: 62px;
        width: 80px;
        text-align: center;
        background-color: #da6b64;

    }

    .phone-btn-1 {
        display: block;
    }

    .phone-btn-text {
        color: #fff;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0 auto ;
        
    }

    .fa-file-alt {
        color: #fff;
        font-size: 24px;
        padding-top: 10px;
    }


    .back-1 {
        height: 380px;
    }

    .text-1 {
        vertical-align: top;
    }

    .text-2a {
        font-size: 14px;
        font-weight: 500;
    }

    .slider-btn {
        width: 85%;
    }

    .br-phone {
        display: block;
    }


    .title-3 p {
        line-height: 200%;
    }

    .in-orange-box {
        margin: 0 auto;
        position: relative;
        max-width: calc(100% - 40px);
    }

    .in-orange-box::before {
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;

    }
    
    .in-orange-box::after {
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
    }

    .back-3 {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }

    .text-3 {
        padding-bottom: 25px ;
    }

    .text-3b {
        padding: 0 0 30px;

    }

    .text-3b  p {
        margin: 0 0 30px;
    }

    .about {
        top: -30px;
    }

    .circle-4 {
        width: 60px;
        height: 60px;
        line-height: 60px;
        letter-spacing: 2px;
    }


}