@media only screen and (min-width: 768px) and (max-width: 1190px) {

    *{box-sizing: border-box;}


    .font-size-title {
        font-size: 24px;
    }
    
    .font-size-emp {
        font-size: 16px;
    }

    .font-size-small {
        font-size: 14px;
        letter-spacing: 0;
    }

    .font-size-xs {
        font-size: 12px;
    }

    .header-contents {
        width: 98%;
        letter-spacing: 0;
    }


    .back-1 {
        height: 500px;
    }


    .slider-btn {
        width: 85%;
    }

    .text-2a {
        margin: 0 auto 10px;
    }


    .skills {
        width: 94%;
    }


    .steps-5 {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .step-box {
        width: 36%;
    }


    .merits-8 {
        width: 87%;
    }

    .merit {
        margin: 20px;
        width: 32%;
    }
    
    .merit img {
        height: 180px;
    }

    .support-box {
        width: 87%;
    }

    .thirdparties {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .party-11 {
        margin: 40px 0 ;
        width: 768px; 
    }


    .study-box {
        width: 270px;
    }

    .study-box ul li {
        padding: 10px 5px;

    }
    
    




}