body {
    margin: 0;
}

.color1 {
    background-color: #ebb94d;
}

.color2a {
    background-color: #da6b64;
}

.color2b {
    background-color: #d84940;
}

.color3 {
    background-color: #fef5e0;
}

.color4 {
    background-color: #016ea9;
}

.color5 {
    background-color: #f7c23c;
}



header {
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
}

.header-contents {
    margin: 10px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    margin-top: 5px;
}

.left-side {
    display:flex;
}

.header-logo img {
    width: 128px;
}

.contact-btn :hover {
    background-color: #d84940;   
}

.contact-btn {
    color: white;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 20px;
}



.back-1 {
    background-image: url(../isara/img/main.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.text-1 {
    text-align: center;
    padding-top: 120px;
}



.position-setter-2 {
    margin-top: -20px;
}

.back-2 {
    background-color: #ebb94d;
    height: 500px;
    width: 100%;
}

.text-2 {
    padding-top: 15px;
    color: white; 
    text-align: center;
}



.back-3 {
    background-image: url(../isara/img/introbottom.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.text-3 {
    padding: 40px 0;
    text-align: center;
}



.position-setter-4 {
    height:600px;
}

.back-4 {
    background-color:#fef5e0;
}

.about {
    position: relative;
    top: -40px;
}

.circle-4 {
    color: #fff;
    background-color: #ebb94d;
    padding: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    border-radius: 50%;
}

.text-4 {
    text-align: center;
}

.skills {
    width: 1170px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
    
}

.engineer-skill {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.icons-4 {
    padding-top: 60px;
    display: flex;
    justify-content: center; 
    align-items: center
}

.skill-icon {
    padding: 10px;
    font-size: 12px;
    text-align: center;
}



.position-setter-5 {
    margin-top: -20px;
}

.back-5 {
    background-image: url(../isara/img/aboutsecondbg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.text-5 {
    color: #fff;
    text-align: center;
}

.steps-5 {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.step-box {
    text-align: center;
    background-color: #fff;
    padding: 30px 40px;
    margin: 10px;
}


.position-setter-6 {
    margin-top: -20px;
}

.back-6 {
    background-color: #016ea9;
    height: 100px;
    width: 100%;
}

.text-6 {
    color: #fff;
    text-align: center;
    margin: ;
}



.text-7 {
    text-align: center;
}

.icons-7 {
    display: flex;
    justify-content: center; 

}

.learn-icon {
    margin: 20px;
}

.under-text-7 {
    text-align: center;
}


.text-8 {
    text-align: center;
}

.merits-8 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    
}

.merit {
    margin: 40px;
    width: 350px;
}

.support-box {
    text-align: center;
    width: 1170px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ebb94d;
    border-radius: 5px;
}

.under-text-8 {
    text-align: center;
}



.wrapper-9 {
    color: #fff;
}

.position-setter-9 {
    height: 700px;
}

.back-9 {
    background-image: url(../isara/img/teacherbg.jpg);
    background-position: center;
    background-size: cover;

}

.text-9 {
    text-align: center;
    margin-bottom: 100px;
}

.founders-9 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.member-9 {
    width: 350px;
    border: 3px solid white;
    height: 450px;
    text-align: center;
    margin: 0px 20px;
}

.member-9 img {
    margin-top: -80px;
    border-radius: 50%;  
    width: 150px;  
    height: 150px; 
}

.member-intro-9 {
    margin: 20px;
}


.position-setter-10 {
    padding: 30px 0;
    margin-bottom: 50px;
}

.logo-10 {
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    color: #ebb94d;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.text-10 {
    color: #fff;
    text-align: center;
}



.text-11 {
    text-align: center;
}


.party-11 {
    display: flex;
    margin: 40px 25%;
}

.party-11 img {
    height: 250px;
    width: 250px;
    border: 3px solid #ebb94d;
}

.party-intro-11 {
    margin: 10px 15px;
}


.back-12 {
    background-image: url(../isara/img/classbg.jpg);
    background-size: cover;
    background-position: center;
}

.text-12 {
    text-align: center;
    color:white;
}

.studies {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
}

.study-box {
    background-color: #fff;
    text-align: center;
    width: 350px;
    margin: 0 20px;
    border: 2px solid #016ea9;
    border-radius: 2px;
}

.timing-study {
    color: #fff;
    margin-top: 0;
    background-color: #016ea9;
    padding: 20px;
}

.list-12 {
    margin: 0%;
}

.study-box ul li {
    padding: 10px;
    border-bottom: 1px dotted #e5e5e5;
}


.position-setter-13 {
    padding: 10px;
}

.text-13 {
    text-align: center;
    color: #fff;
}

.position-setter-14 {
    margin-bottom: 50px;
}

.title-14 {
    text-align: center;
}

.flow-img-14 {
    text-align: center;
    margin: 40px 0;
}

.flow-intro {
    display: flex;
    background-color: #fef5e0;
    width: 80%;
    border-radius: 5px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.flow-icon-14 {
    text-align: center;
}

.icon-position {
    margin: 30px;
}

.icon-text-14 p {
    margin: 3px 0;
}

.flow-chain-14 {
    text-align: center;
}



.back-15 {
    background-image: url(../isara/img/bangkokbg.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}

.text-15 {
    color: #fff;
    margin: 0 250px;
}


.position-setter-16 {
    margin-top: -20px;
    padding-bottom: 40px;
}

.text-16 {
    text-align: center;
}



.present-title {
    position: relative;
    text-align: center;
    width: 600px;
    margin-top: 80px;
    margin-bottom: -40px;
    margin-left:auto ;
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
    background-color: #f7c23c;
    z-index: 8;
}

.present-box {
    margin: 0 auto;
    
}

.present-line {
    border: solid 2px white;
    padding: 40px;
    width: 80%;
    margin-top: 40px;
    margin: 0 auto;
    z-index: 4;
}

.present-icons {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    
}

.present-16 {
    background-color: #fff;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    margin: 0 50px 40px 50px;
}



.position-setter-17 {
    margin-top: -20px;
    padding-bottom: 50px;
}

.back-17 {
    background-image: url(../isara/img/specialdetail.jpg);
    background-position: center;
    background-size: cover;
}

.text-17a {
    color: #fff;
    text-align: center;
}

.text-17b {
    color: #fff;
    text-align: center;
}



.position-setter-18 {
    margin-top: -20px;
    padding-bottom: 50px;
}

.text-18 {
    margin-top: 80px;
    text-align: center;
}

.someya-speach {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin: 0 auto;
    width: 75%;
}

.speaching-18 {
    width: 200px;
    height: 160px;
}

.text-19 {
    text-align: center;
}


.form-19 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-19 {
    text-align: center;
}
