.color1 {
    background-color: #ebb94d;
}

.color2a {
    background-color: #da6b64;
}

.color2b {
    background-color: #d84940;
}

.color3 {
    background-color: #fef5e0;
}

.color4 {
    background-color: #016ea9;
}

header {

}

.header-contents {
    margin: 10px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    margin-top: 5px;
}

.left-side {
    display:flex;
}

.header-logo img {
    width: 128px;
}

.contact-btn :hover {
    background-color: #d84940;   
}

.contact-btn {
    color: white;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 20px;
}


.text-1 {
    text-align: center;
    padding-top: 120px;
}

.back-1 {
    background-image: url(../isara/img/main.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;

}